* {
  box-sizing: border-box;
  margin: 0;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.logo {
  background-color: rgb(15, 15, 53);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;

}

.header {
  color: #fff;
  font-size: medium;
  padding: 10px;
}

nav {
  padding: 10px;
  margin-left: 10px;
}

.nav a {
  color: #fff;

}

.page-wrapper {
  width: 75%;
  margin: auto;
  border: 1px solid red;
}

.hero-banner {
  background-image: url("../images/02-hero-bg.jpg");
  height: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-size: cover;
  color: #fff;
}

#about,
#work {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

.page-section h2 {
  text-align: right;
}




#work-detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: "surf-work surf-work"
    "surf-work surf-work"
    "led-wall calc"
    "pastle run-buddy";
  height: 800px;
}

.category {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

#surf-work {
  grid-area: surf-work;
  background-image: url(../images/02-portfolio-1.jpg);

}

#led-wall {
  grid-area: led-wall;
  background-image: url(../images/02-portfolio-3.jpg);
}

#calc {
  grid-area: calc;
  background-image: url(../images/02-portfolio-2.jpg);
}

#pastle {
  grid-area: pastle;
  background-image: url(../images/02-portfolio-4.jpg);

}

#run-buddy {
  grid-area: run-buddy;
  background-image: url(../images/02-run-buddy.jpg);
}

#contact {
  display: flex;
  margin-top: 20px;
}

.contactme {
  width: 25%;

}

#contact-details {
  width: 75%;
  padding-left: 20px;
  display: flex;
  justify-content: space-evenly;
}