* {
  box-sizing: border-box;
  margin: 0;
  font-family: Segoe UI;
}

body {
  font-family: Segoe UI;
}

.header {
  background-color: #0f0f35;
  display: flex;
  justify-content: right;
  padding: 10px;
  align-items: flex-start;
  height: 100px;
  color: #fff;
}

.name {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
}

#avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-self: center;
  background-color: #fff;
  background-image: url(../images/woman-avatar-icon.svg);
}

#my-name {
  font-size: medium;
}

nav {
  display: flex;
  padding: 10px;
  background: linear-gradient(90deg, #2b2b74 0%, #0f0f35 75%, #0f0f35 100%);
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;

}

.about-me {
  position: absolute;
  top: 70px;
  right: 10px;
  padding: 10px;
  height: 4rem;
  width: 50%;
  border-radius: 4rem;
  font-size: small;
  display: flex;
  align-items: center;
  text-align: center;
  background: linear-gradient(90deg, #2b2b74 0%, #0f0f35 75%, #0f0f35 100%);
  color: #fff;

}

.page-wrapper {
  width: 98%;
  margin: 10px auto;
}


#projects {
  padding: 10px;
  background-color: #e9e9e9;
}

#work-detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-areas: "surf-work surf-work"
    "surf-work surf-work"
    "led-wall calc"
    "pastle run-buddy";
  height: 600px;
}

.category {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.category:hover {

  transform: scale(1.01);
}

.heading {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  opacity: 0.5;
}

.heading a {
  text-decoration: none;
  outline: none;
  color: black;
}

#surf-work {
  grid-area: surf-work;
  background-image: url(../images/01_coding.jpg);

}

#led-wall {
  grid-area: led-wall;
  background-image: url(../images/01_coding.jpg);
}

#calc {
  grid-area: calc;
  background-image: url(../images/01_coding.jpg);
}

#pastle {
  grid-area: pastle;
  background-image: url(../images/01_coding.jpg);

}

#run-buddy {
  grid-area: run-buddy;
  background-image: url(../images/01_coding.jpg);
}

#contact {
  margin-top: 10px;
  padding: 20px;
  background-color: #0f0f35;
  color: #fff;
  display: flex;
  justify-content: space-around;
}

.contact-title {
  width: 100%;
  text-align: center;
}

#contact>div:first-child {
  font-size: xx-large;
}

#contact-details {
  width: 100%;
  font-family: monospace, monospace;
}

#contact-details div {
  padding: 10px;
}

#contact-details div span {
  padding-right: 20px;
}


#email>span:first-child {
  background-image: url('../images/email.png');
  color: #fff;
}

@media screen and (max-width: 600px) {
  .header {
    display: flex;
    align-items: center;
  }

  nav {
    flex-direction: column;

  }

  nav a {
    flex-direction: column;
    text-align: center;
  }

  .about-me {
    position: initial;
    border-radius: 0;
    width: 100%;
    height: auto;
    padding: 5px;
    background: linear-gradient(90deg, #0f0f35 0%, #0f0f35 25%, #2b2b74 100%);
  }

  #work-detail {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-areas: "surf-work"
      "surf-work"
      "led-wall"
      "calc"
      "pastle"
      "run-buddy";
  }

  #contact {
    position: relative;
  }
}